.card {
  margin: 3vh auto;
}
@include media-breakpoint-up(md) {
  .card {
    width: 97%;
    border-radius: 1rem;
    border: transparent;
    img {
      border-radius: 1rem;
    }
    .card-footer {
      border-radius: 0 0 1rem 1rem;
    }
  }
}
